<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - boxysean.com</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.url }}/media/css/syntax.css">

    <!-- main CSS -->
    <link rel="stylesheet" href="{{ site.url }}/media/css/aal.css">

    <!-- that's my font! -->
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

    <!-- highlight.js -->
    <link rel="stylesheet" href="https://yandex.st/highlightjs/7.5/styles/default.min.css">
    <script src="https://yandex.st/highlightjs/7.5/highlight.min.js"></script>
  </head>

  <body>
    <div id="wrapper">

      <div id="header-container">

        <span class="title">
          <h2 id="titlebar">
            <a href="{{ site.url }}">Sean McIntyre</a><span id="title-extra"> &middot; designing tech to create great things</span>
          </h2>
        </span>

        <span class="links">
          <h2 id="linkbar">
            <a title="portfolio" class="" href="{{ site.url }}/portfolio">portfolio</a>
            &middot;
            <a title="blog" class="" href="{{ site.url }}/blog">blog</a>
          </h2>
        </span>

      </div>

      <div id="top-divider"></div>

      <div id="main-content" class="{{ include.page_class }}">
