---
title: Home
---

{% include header.html %}

<div class="statement">
	<p>I make ideas come to life through programming and electronics.</p>
	<p>You can find me on <a href="https://linkedin.com/in/boxysean">LinkedIn</a>, <a href="https://itp.nyu.edu/itp/">ITP events</a>, or working with like-minded hackers in New York City.</p>
</div>

<div class="self-portrait">
	<img src="{{ site.url }}/media/images/boxysean-and-wires.jpg" />
	<p style="text-align: center">
		<i>Photo credit: <a href="https://adriennegrunwald.com/">Adrienne Grunwald</a>, 2013</i>
	</p>
</div>

{{ content }}

{% include footer.html %}
