---
title: Home
---

{% include header.html width=800 %}

<div style="float: right"><img src="{{ site.url }}/media/images/boxysean-and-wires.jpg" />
<p style="text-align: center"><i>Photo credit: <a href="http://adriennegrunwald.com/">Adrienne Grunwald</a>, 2013</i></p>
</div>

<p>I make ideas come to life through programming and electronics.</p>



<p>You can find me at Dash 7 Design, ITP Alumni events, or working with like-minded hackers.</p>

<div style="clear: right"></div>

<h2>Recent events</h2>



<h2></h2>

{% include footer.html %}
